<h1>This is the SECRET PAGE!!</h1>


<p>You found me!!</p>

<img style="max-width: 50%" src="http://animals.sandiegozoo.org/sites/default/files/inline-images/Somali_wild_ass_mare_0.jpg" alt="">

<!-- Sign up, Login, Logout -->
<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>